@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
  }

  .header   {
    background-color: #1f2937;
    display:flex;
   
  }

  
  .welcome-content  {
    background-color:#1f2937;
  }

  h1 {
    font-size:48px;
    font-weight: bolder;
    color:#f9faf8;
  }

  .header-a {
    font-size:18px;
    color:#e5e7eb;
    padding: 24px;
    align-items: flex-end;
  }

  .txt {
    color:#1f2937;
  }

  .img-txt  {
    color:#f9faf8;
    background-color:rgb(148, 146, 146);
    padding:15px;
  }

  p {
    color:#f9faf8;
  }

  #logo {
    font-size:24px;
    
  }

  h2  {
    color:#f9faf8;
  }

  .btn{
    background-color:#3882f6;
    border-radius:5px;
    color:#f9faf8;
    padding:8px;
    border:none;
    font-size:15px;
    font-weight: bold;

  }

  blockquote {
    font-style: italic;
    color:#1f2937;
    background-color: #e5e7eb;
    font-size:12px;
  }

  .quotee-txt {
    font-style:normal;
    font-weight:bold;
    color:#1f2937;
    background-color: #e5e7eb;

  }

  .b-sec  {
    background-color: #3882f6;
  }

  .footer {
    background-color: #1f2937;
    color:#f9faf8;
    padding: 24px;
  }

  .card {
    border: 2px solid #3882f6;
    border-radius: 1px;
    padding:16px;
    width:100px;
    border-radius:5px;
  }
  
  .m-txt  {
    color:#1f2937;
  }