@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
  }

  .header   {
    background-color: #1f2937;
  }
  
  .welcome-content  {
    background-color:#1f2937;
  }

  h1 {
    font-size:48px;
    font-weight: bolder;
    color:#f9faf8;
  }

  .header-a {
    font-size:18px;
    color:#e5e7eb;
  }

  .txt {
    color:#1f2937;
  }

  .img-txt  {
    color:#f9faf8
  }

  p {
    color:#f9faf8;
  }



  #logo {
    font-size:24px;
    
  }

  h2  {
    color:#f9faf8
  }

  .btn{
    background-color:#3882f6;

  }

  blockquote,.quotee-txt {
    color:#1f2937;
    background-color: #e5e7eb;
  }

  .b-sec  {
    background-color: #3882f6;
  }

  .footer {
    background-color: #1f2937;
    color:#f9faf8;
    padding: 24px;
  }
